*{
    padding: 5px;
}
body {

    background-image: url("https://image.freepik.com/vector-gratis/fondo-formas-abstractas-verde-acuarela_23-2149080626.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;}
    .formulario {
      
        width: auto;
        background: #f8f4e5;
        padding: 22px 30px;
        margin-top: 10px;
        margin-bottom: 20px;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 8px 10px 1px #7bdaff, 8px 10px 1px 1px black;}
        .caja{
            margin:  6px;
            display: grid;
            padding: 15px;
            align-content: center;
            border: #367d5d;
            border-radius:6%;
          }
          .caja:nth-child(1){
            background: cadetblue;
            text-align: center;
            color: aliceblue;
            margin-bottom: 15px;
          }
          .caja:nth-child(2){
            background: cadetblue;
            text-align: center;
            color: aliceblue;
            margin-bottom: 15px;
          }
          .caja:nth-child(3){
            background: cadetblue;
            text-align: center;
            color: aliceblue;
            margin-bottom: 15px;
          }
          .caja:nth-child(4){
            background: cadetblue;
            text-align: center;
            color: aliceblue;
            margin-bottom: 15px;
          }
          
          
          .caja1{
            margin:  6px;
            display: grid;
            padding: 15px;
            align-content: center;
            border: #367d5d;
            border-radius:6%;
            
            
          }
          table {
            width: 100%;
            border: 1px solid #000;
         }
         th, td {
            width: 25%;
            text-align: left;
            vertical-align: top;
            border: 1px solid #000;
            border-spacing: 0;
         }
         .pie{
            align-content: left;
                      
            border-radius: 9%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 6%;
          }
          .pie:nth-child(1){
              
              border-radius: 9%;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              padding-left: 6%
              
          }
          button {
            display: table-cell;
            margin:  auto;
            line-height: 28pt;
            padding: 0 20px;
            background: #7bdaff;
            letter-spacing: auto;
            transition: 0.2s all ease-in-out;
            outline: none;
            border: 1px solid black;
            box-shadow: 3px 3px 1px #3ca7ff, 3px 3px 1px 1px black;
          }
          button:hover {
            background: #367d5d;
            color: white;
            border: 1px solid black;
          }
